<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav>
    <div>
        <ul>
            <li><a th:href="'/information?name=' + ${fox.getName()}"> Information</a></li>
            <li><a th:href="'/nutrition?name=' + ${fox.getName()}">Nutrition Store</a> </li>
            <li><a th:href="'/trickstore?name=' + ${fox.getName()}">Trick Store</a> </li>
            <li><a th:href="'/actionlog?name=' + ${fox.getName()}">Action History</a> </li>
        </ul>
    </div>
</nav>
<head>
    <meta charset="UTF-8"/>
    <title>"Info"</title>
</head>

<body>

<div>
    <img src="/greenfox.png"/>
</div>
<div>
    <h3 style="color:grey" th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '. He knows ' + ${fox.getCompletedTricks().size()} + ' tricks.'"></h3>
</div>
<div>
    <h4> Action History</h4>
    <ul>
        <li th:if="${fox.getCompletedTricks().isEmpty()}" th:text="${fox.getName()} + ' has plenty of tricks to learn.'"></li>
        <li th:unless="${fox.getCompletedTricks().isEmpty()}" th:each="action:${last5}" th:text="${action}"> </li>
    </ul>
</div>
</body>
</html>