<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Welcome to Programmer Fox Club!</h1>
<br>
<p> Please provide a name, so you can associate it to your pet!</p>
<br>
<div>
    <form action="/login" method="post">
        <label for="name" th:style="'color:grey'">Name</label>
        <input type="text" name="name" id="name" required/>
        <input type="submit" value="GO" style="background-color: lightgrey"/>
    </form>
</div>
</body>
</html>