<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Please provide a URL and an alias: </h1>
<br>
<div>
    <form action="/save-link" method="post">
        <label for="url"> URL: </label>
        <br>
        <input type="text" id="url" name="url">
        <br>
        <label for="alias">Alias:</label>
        <br>
        <input type="text" id="alias" name="alias">
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>